.slider_text {
    display: flex;
    overflow: hidden; 
    height: 80px; 
  }

  .changebox {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out; 
  }

  .changebox div {
    height: 80px; 
    line-height: 80px; 
  }
  @media only screen and (max-width: 768px) {
    .changebox div {
        height: 60px; 
        line-height: 60px; 
      }
      .slider_text { 
        height: 60px; 
      }
  }